.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img {
    width:100px;
}

.login_header h1 {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

.login_input {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: rgb(55, 55, 55);
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 15px;
}

.login_button {
    background-color: blueviolet;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    max-width: 300px;
    padding: 15px;
    width: 100%;
}

.login_button:disabled {
    background-color: aliceblue;
    color: gray;
    cursor: auto;
}