* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    border: none;

    @font-face {
        font-family: FingerPaint;
        src: url(../fonts/FingerPaint-Regular.ttf);
    }
    font-family: 'FingerPaint-Regular';
}